body, html {
    height: 100%;
    margin: 0 50px;
    position: relative;
    font-family: Arial, sans-serif;
}

#title {
    font-family: 'Arial', sans-serif;
    font-size: 24px; 
    color: #333; 
    text-align: center; 
    margin-top: 0px; 
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #eaeaea;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.dropdown{
    margin-top: 5px;
}


#Chart {
    position: absolute;
    top: 65px;
    left: 15px;
    right: 220px;
    bottom: 115px;
    /* border */
    border: 3px solid #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 40px
}


#technicalIndicators {
    position: absolute;
    top: 65px;
    right: 10px;
    width: 200px;
    bottom: 330px;
    /* border */
    border: 3px solid #f8f8f8;
    border-radius: 8px;
    line-height: 40px;
}

#toolbox {
    position: absolute;
    top: 380px;
    right: 10px;
    width: 200px;
    bottom: 115px;
    /* border */
    border: 3px solid #f8f8f8;
    border-radius: 8px;
    line-height: 40px;
}

#explanationBox {
    position: absolute;
    left: 15px;
    bottom: 10px;
    right: 220px;
    height: 100px;
    /* line-height: 100px; */
    /* border: 3px solid #f8f8f8; */
    /* border-radius: 8px; */
    text-align: center;
    font-size: 16px; 
    /* overflow: auto; */
}

.dropdown {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 250px;
    height: 30px;

    text-align: center;
    line-height: 40px;
}

.d3-tip { 
    font-size: 16px; 
    max-width: 400px; 
}

#volumebox, #candlebox, #movingaveragebox, #trendlinebox, #supstancebox, #arrowbox {
    display: none;
    padding-bottom: 20px;
    border: 5px solid #aba3a3;
    border-radius: 8px;
    left: 200;
    right: 200;
    bottom: 20px;
}

#volumeimg, #candleimg, #movingimg, #trendlinesimg, #supstanceimg, #tradearrowimg {
    align-items: center;
}

#bold-text {
    font-weight: bold;
}

#trendlinesimg, #supstanceimg, #tradearrowimg {
    width: 600px;
    height: 300px;
}